@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: Roboto, sans-serif;
}
.container {
    width: 80%;
    margin: auto;
    padding: 32px;
}
/* HEADER */
/* Navbar */
.header {
  background: #1F2937;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 32px;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}
/* Description */
.description {
  display: flex;
  gap: 100px;
}
.tilte-description {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}
.text-description {
  font-size: 18px; 
  color: #E5E7EB;
}
.button-description {
  background: #3882F6;
  border: 1px solid #3882F6;
  border-radius: 4px;
  font-size: 16px;
  color: #F9FAF8;
  font-weight: bold;
  padding: 5px 24px;
}

/* Info */
.title-info {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  text-align: center;
}
.box-info {
  display: flex;
  justify-content: center;
  gap: 52px;
}
.box-info div {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}
.image-info {
  width: 200px; 
  height: 200px; 
  border: 3px solid #3882F6; 
  border-radius: 10px;
}
.text-info {
  font-size: 18px;
  color: gray;
}